### Solution_1

In [8]:
#By using list Comprehension
lst7_6=[x for x in range(1,500) if x%7==0 and x%6==0]

In [9]:
lst7_6

[42, 84, 126, 168, 210, 252, 294, 336, 378, 420, 462]

### a)Using Continue Statement

In [19]:
for x in range(1,500):
    if x%7!=0 or x%6!=0:
        continue
    print(x,end=",")

42,84,126,168,210,252,294,336,378,420,462,

### b) By using pass Statements

In [24]:
for x in range(1,500):
    if x%7!=0 or x%6!=0:
        pass
    else:
        print(x,end=",")

42,84,126,168,210,252,294,336,378,420,462,

### Solution_2

In [27]:
n='1111122221111222'
sum_even=0
sum_odd=0
for i in n:
    if int(i)%2==0:
        sum_even+=int(i)
    else:
        sum_odd+=int(i)
print("Sum of even Numbers is {} and sum of odd number is {}".format(sum_even,sum_odd))

Sum of even Numbers is 14 and sum of odd number is 9

### Solution_3

Conditional expressions are used when we have to verify some specific condition on the objects such as a nuber is divisible by any ither number , an string contain some specific string etc.

In [37]:
lst=[763,2345,65,897,43,234,54,56,8,87,76,634,45,324,42,324,325,3]
lst_max=lst[0]
lst_min=lst[1]
for i in lst:
    if i>lst_max:
        lst_max=i
    else:
        lst_min=i
print("we got list minimum {1} and list Maximum {0}".format(lst_max,lst_min))        
print(min(lst),max(lst))

we got list minimum 3 and list Maximum 2345
3 2345

### Solution_4

In [42]:
N=int(input("Enter a Integer: "))
for i in range(N):
    for j in range(i+1):
        print(i+1,end="")
    print()

Enter a Integer: 20
1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010
1111111111111111111111
121212121212121212121212
13131313131313131313131313
1414141414141414141414141414
151515151515151515151515151515
16161616161616161616161616161616
1717171717171717171717171717171717
181818181818181818181818181818181818
19191919191919191919191919191919191919
2020202020202020202020202020202020202020

### Solution_5

### A

In [50]:
N_1=input("Enter an Integer: ")
for i in range(int(len(N_1)/2)):
    if N_1[i]!=N_1[len(N_1)-i-1]:
        print("Number is not pelindrome!")
        break
    else:
        print("Number is pelindrome!")
        break

Enter an Integer: 1331
Number is pelindrome!

### B

In [56]:
N_1=input("Enter an string : ")
N_1=N_1.upper()
N_2=""
for i in N_1:
    if i!=" " or i!=",":
        N_2+=i
N_1=N_2       
for i in range(int(len(N_1)/2)):
    if N_1[i]!=N_1[len(N_1)-i-1]:
        print("String is not pelindrome!")
        break
    else:
        print("String is pelindrome!")
        break

Enter an string : A man, a pan, a canal, Panama
String is pelindrome!

### Solution_6

We have ASCII ( American Standard Code for Information Interchange) Table which has ordered all the used symbols such as Uppere case alphabates ,Lowercase alphabates, alphanumerics @,#,$ etc\\\ So chr(n) will give the assign symbol to that number in the ordering in ASCII table and ord(' ') will give integer to that symbol.

In [62]:
print(chr(97),chr(98),chr(99),chr(100))
print(ord('A'),ord('B'),ord('C'),ord('D'))

a b c d
65 66 67 68

In [66]:
for i in range(18):
    for j in range(i+1):
        print(chr(65+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J
K K K K K K K K K K K
L L L L L L L L L L L L
M M M M M M M M M M M M M
N N N N N N N N N N N N N N
O O O O O O O O O O O O O O O
P P P P P P P P P P P P P P P P
Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q
R R R R R R R R R R R R R R R R R R

### Solution_7

#### a

In [104]:
P_1=['Sohit','MA22M019','04-02-2023','1700KM']
P_2=['Umair','MA22M007','05-02-2023','2700KM']
P_3=['Nitish','MA22M021','08-02-2023','1500KM']
P_4=['Vidipt','MA22M023','12-02-2023','1200KM']
P_5=['Manoj','MA22M006','14-02-2023','2000KM']
airline_tickets=[P_1,P_2,P_3,P_4,P_5]
airline_tickets.sort()
P_6=['Mohit','MA22M008','18-02-2023','1200KM']
print(airline_tickets)
#(B)

airline_tickets.append(P_6)
airline_tickets.sort()
print(airline_tickets)

#(c)
airline_tickets.remove(P_3)
print(airline_tickets)

# (d)
P_7=['Sameer','MA22M024','028-02-2023','1000KM']
airline_tickets.insert(0,P_7)
print(airline_tickets)

# (f)
airline_tickets.sort()
print(airline_tickets)

[['Manoj', 'MA22M006', '14-02-2023', '2000KM'], ['Nitish', 'MA22M021', '08-02-2023', '1500KM'], ['Sohit', 'MA22M019', '04-02-2023', '1700KM'], ['Umair', 'MA22M007', '05-02-2023', '2700KM'], ['Vidipt', 'MA22M023', '12-02-2023', '1200KM']]
[['Manoj', 'MA22M006', '14-02-2023', '2000KM'], ['Mohit', 'MA22M008', '18-02-2023', '1200KM'], ['Nitish', 'MA22M021', '08-02-2023', '1500KM'], ['Sohit', 'MA22M019', '04-02-2023', '1700KM'], ['Umair', 'MA22M007', '05-02-2023', '2700KM'], ['Vidipt', 'MA22M023', '12-02-2023', '1200KM']]
[['Manoj', 'MA22M006', '14-02-2023', '2000KM'], ['Mohit', 'MA22M008', '18-02-2023', '1200KM'], ['Sohit', 'MA22M019', '04-02-2023', '1700KM'], ['Umair', 'MA22M007', '05-02-2023', '2700KM'], ['Vidipt', 'MA22M023', '12-02-2023', '1200KM']]
[['Sameer', 'MA22M024', '028-02-2023', '1000KM'], ['Manoj', 'MA22M006', '14-02-2023', '2000KM'], ['Mohit', 'MA22M008', '18-02-2023', '1200KM'], ['Sohit', 'MA22M019', '04-02-2023', '1700KM'], ['Umair', 'MA22M007', '05-02-2023', '2700KM'], ['Vidipt', 'MA22M023', '12-02-2023', '1200KM']]
[['Manoj', 'MA22M006', '14-02-2023', '2000KM'], ['Mohit', 'MA22M008', '18-02-2023', '1200KM'], ['Sameer', 'MA22M024', '028-02-2023', '1000KM'], ['Sohit', 'MA22M019', '04-02-2023', '1700KM'], ['Umair', 'MA22M007', '05-02-2023', '2700KM'], ['Vidipt', 'MA22M023', '12-02-2023', '1200KM']]

### Solution_8

### (a)

In [73]:
lst_1=[23,45,65,87,89,3,4]
lst_2=[645,1,267,890,980,45,67]
add_lst_1_lst_2=[lst_1[i]+lst_2[i] for i in range(len(lst_1))]
print(add_lst_1_lst_2)

[668, 46, 332, 977, 1069, 48, 71]

### (b)

In [74]:
mul_lst_1_lst_2=[lst_1[i]*lst_2[i] for i in range(len(lst_1))]
print(mul_lst_1_lst_2)

[14835, 45, 17355, 77430, 87220, 135, 268]

### (c)

In [84]:
import string
str_22='manoj_kumar_patel'

unique_char=[chr(i+97) for i in range(26) if str_22.find(chr(i+97))==1 ]
print(unique_char)

['a']

### Solution_9

### (a)

In [90]:
mat_1=[[21,32,34,54,34],[43,4,43,64,46],[21,43,65,87,98]]
mat_2=[[3,43,6,78,87],[34,65,879,90,234],[12,435,67,89,29]]
mat_1_sum_mat_2=[[mat_1[i][j]+mat_2[i][j] for i in range(len(mat_1))] for j in range(len(mat_1[0])) ]
print(mat_1_sum_mat_2)

[[24, 77, 33], [75, 69, 478], [40, 922, 132], [132, 154, 176], [121, 280, 127]]

### (b)

In [91]:

mat_1_mul_mat_2=[[mat_1[i][j]*mat_2[i][j] for i in range(len(mat_1))] for j in range(len(mat_1[0])) ]
print(mat_1_mul_mat_2)

[[63, 1462, 252], [1376, 260, 18705], [204, 37797, 4355], [4212, 5760, 7743], [2958, 10764, 2842]]

### SolutioN_10

In [93]:
a=12
b=2300
c=13
d='Manoj'
f="Sohit"
print('{3} friend name is {4} and he is {0}km away from building no.{2} and i need rs {1} from him.'.format(a,b,c,d,f))

Manoj friend name is Sohit and he is 12km away from building no.13 and i need rs 2300 from him

### Solution_11

In [96]:
a,b,c=input("Enter Three Numbers:").split()
a=int(a)
b=int(b)
c=int(c)
if a>b:
    if a>c:
        print('{} is maximum'.format(a))
    else:
        print('{} is maximu'.format(c))
else:
    if a<c:
        print('{} is maximum'.format(c))
    else:
        print('{} is maximum'.format(a))

Enter Three Numbers:46 9 1
46 is maximum