### Dictionary and functions
### ANS_1
## a

In [33]:
#I am defining a function which will take an list as an parameter
# and gives us a dictionary containg each number in the list ad 
#keys and cooresponding occurence in the list as values

def Int_freq(lst):
    d={}
    for num in set(lst):
        d[num]=lst.count(num)    
    return d

In [34]:
lst1=[12,23,34,45,45,3213,12,214,35,4,34,45]
Int_freq(lst1)

{34: 2, 35: 1, 4: 1, 12: 2, 45: 3, 3213: 1, 214: 1, 23: 1}

## b

In [35]:
# we are printing the maximum integer and its frequency by using (a)
d=Int_freq([12,23,34,45,45,3213,12,214,35,4,34,45])
print(max(d),d[max(d)])

3213 1

### (c)

In [36]:
#Removing the duplicates from the list and printing the new list
#without changing the order
def rem_dup(lst):
    lst1=[]
    for num in lst:
        if not(lst1.count(num)):
            lst1.append(num)
    return lst1

In [52]:
rem_dup(lst1)

[12, 23, 34, 45, 3213, 214, 35, 4]

## (d)

In [37]:
print(list(set(lst1)))

[34, 35, 4, 12, 45, 3213, 214, 23]

## (2)

In [117]:
#Store the employee IDs, names, salaries, and years of experience using 
#nested dictionaries (the key of the highest level dictionary can be the 
# employee ID). 
dic_dic={'MA22M006':{'Name':'Manoj','salary':2000,'YOE':0},
         'MA22M007':{'Name':'Umair','salary':2200,'YOE':1},
        'MA22M008':{'Name':'Mohit','salary':1000,'YOE':2},
        'MA22M019':{'Name':'Sohit','salary':900,'YOE':3},
        'MA22M025':{'Name':'Vidipt','salary':3000,'YOE':1},
        'MA22M005':{'Name':'Kuldeep','salary':500,'YOE':3}}

### (a)

In [118]:
#a) Sort this dictionary using the salary value. 

salary_sort=dict(sorted(dic_dic.items(),key=lambda ky: ky[1]['salary']))
salary_sort

{'MA22M005': {'Name': 'Kuldeep', 'salary': 500, 'YOE': 3},
 'MA22M019': {'Name': 'Sohit', 'salary': 900, 'YOE': 3},
 'MA22M008': {'Name': 'Mohit', 'salary': 1000, 'YOE': 2},
 'MA22M006': {'Name': 'Manoj', 'salary': 2000, 'YOE': 0},
 'MA22M007': {'Name': 'Umair', 'salary': 2200, 'YOE': 1},
 'MA22M025': {'Name': 'Vidipt', 'salary': 3000, 'YOE': 1}}

In [119]:
# Here I am definig the function to sort the above dictionary by salary values
def Sort_Sal(dic):
    d=dict(sorted(dic_dic.items(),key=lambda ky:ky[1]['salary']))
    return(d)
Sort_Sal(dic_dic)

{'MA22M005': {'Name': 'Kuldeep', 'salary': 500, 'YOE': 3},
 'MA22M019': {'Name': 'Sohit', 'salary': 900, 'YOE': 3},
 'MA22M008': {'Name': 'Mohit', 'salary': 1000, 'YOE': 2},
 'MA22M006': {'Name': 'Manoj', 'salary': 2000, 'YOE': 0},
 'MA22M007': {'Name': 'Umair', 'salary': 2200, 'YOE': 1},
 'MA22M025': {'Name': 'Vidipt', 'salary': 3000, 'YOE': 1}}

### (b)

In [121]:
#b) Add a new employee to the dictionary in the correct position 
#(sorted as mentioned above).
new_emp={'MA22M001':{'Name':'Ankit','salary':2300,'YOE':2}}
dic_dic1=dic_dic.update(new_emp.items())
Sort_Sal(dic_dic1)

{'MA22M005': {'Name': 'Kuldeep', 'salary': 500, 'YOE': 3},
 'MA22M019': {'Name': 'Sohit', 'salary': 900, 'YOE': 3},
 'MA22M008': {'Name': 'Mohit', 'salary': 1000, 'YOE': 2},
 'MA22M006': {'Name': 'Manoj', 'salary': 2000, 'YOE': 0},
 'MA22M007': {'Name': 'Umair', 'salary': 2200, 'YOE': 1},
 'MA22M001': {'Name': 'Ankit', 'salary': 2300, 'YOE': 2},
 'MA22M025': {'Name': 'Vidipt', 'salary': 3000, 'YOE': 1}}

In [133]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## 3

In [148]:
def com_dic(dic1,dic2):  # Combining two dictionaries
    C={}
    lst1=set(dic1.keys())
    lst2=set(dic2.keys())
    lst3=lst1.union(lst2)
    for a in sorted(lst3):
        if a in lst1.intersection(lst2) :
            C[a]=dic1[a]+dic2[a]
        elif a in lst1:
            C[a]=dic1[a]
        else:
            C[a]=dic2[a]
    return C

In [149]:
A={'a':3,'b':5,'c':7}
B={'b':2,'c':12,'d':3}
com_dic(A,B)

{'a': 3, 'b': 7, 'c': 19, 'd': 3}

## (4)

In [180]:
# making dictionary out of list os list
def lis_to_dic(lst_lst):
    d=[]
    for i in lst_lst:
        d1={}
        d1[i[0]]=i[1]
        d.append(d1)
    return d
lst_lst1=[[1,2],[2,3],[3,4],[4,5],[5,6]]
lis_to_dic(lst_lst1)

[{1: 2}, {2: 3}, {3: 4}, {4: 5}, {5: 6}]

## (5)

In [1]:
# writing a function to check whether all the members in the list are
#anagrams of each other
def Anagrams(lst):
    for i in range(len(lst)-1):
        if sorted(lst[i])!=sorted(lst[i+1]):
            return False
        break
    return True
lst11=["triangle", "integral", "altering"]    
lst12= ['world','hello','goodbye']
print(Anagrams(lst11))
print(Anagrams(lst12))

True
False

## (6)

In [175]:
# Function for calculating the square of a given number
def sq(n):
    return n**2
print(sq(11))
def map_sq(lst):
    d={lst:map(sq,lst)}
    return d

121

In [176]:
lst111=[1,2,3,34]
map_sq(lst111)

TypeError: unhashable type: 'list'

## (7)

In [179]:
def Pascal(n):
    if n==0:
        print(1,end=' ')
    else:
        Pascal(n-1)
        for i in range(n-1):
            print
        
Pascal(4)

4
3
2
1
1

### (8)

In [6]:
# Fibonacci numbers (inclusively),
n=int(input('Enter an integre: '))
def F(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return F(n-1)+F(n-2)
print(F(n))

Enter an integre: 12
144

In [14]:
# checking if the number n is present in the Fibonacci series.
def Check(n):
    for i in range(n):
        if F(i)==n:
            return True
            break
    return False
print(Check(7))
print(Check(8))
print(Check(9))

False
True
False

## (9)
### (a)

In [21]:
#To filter the even numbers from a list of integers using lambda.
def even_lst(lst):
    ev=lambda a:a%2
    l=[a for a in lst if ev(a)==0]
    return l
lst13=[23,53,45,76,87,79,987,3424,123,132,324]
even_lst(lst13)

[76, 3424, 132, 324]

### (b)

In [ ]:
#To count even and odd numbers in a given list of integers using lambda.

## (10)

In [27]:
def Query_M(N,M):
    if N==M:
        return 1
    else:
        K=str(N)
        return Query_M(N-1,M)+K.count(str(M))
N,M=input('Enter 0<=N<=100 and 0<=M<=9: ').split()
N=int(N)
M=int(M)
Query_M(N,M)

Enter 0<=N<=100 and 0<=M<=9: 13 1

6

## (11)

In [ ]:
#Illustrate the usage of positional and keyword arguments using
#suitable examples.

## (12)

In [38]:
#Write a function to find the minimum of n numbers using variable
#length positional arguments.
def min_n(*arg):
    m=100000 # any bigger value
    for i in arg:
        if 
    return m
min_n(12,32,4,5,67)

4

## (13)

In [2]:
#Write a function to concatenate n strings using 
#variable length keyword arguments.
def Con_str(**kwarg):
    st1=""
    for n,m in kwarg.items():
        st1=st1+' '+m
    return st1
Con_str(i='manoj',j='Sohit',k='Umair')

' manoj Sohit Umair'

## (14)

In [53]:
# Filter Function take an function and iterable and returns the iterables where condition in function is true. 

ev=lambda a:a%2-1
a=filter(ev,[12,34,45,546,132])
print(list(a))

[12, 34, 546, 132]

In [1]:
#In Python, the reduce() function iterates through each item in a list or other
# iterable data type, returning a single value. 
from functools import reduce  #library where reduce function is present
sum_n=lambda a,b:a+b
a=reduce(sum_n,[12,234,45,7,87],[1,2,2,3,3])
print(a)

TypeError: can only concatenate list (not "int") to list